.grid-row {
    margin-bottom: 1rem;
}

.note-content-label {
    flex: 0 0 20%;
}

.note-content-input {
    flex: 0 0 60%;
}

.note-controls-row {
    flex-wrap: wrap;
    justify-content: flex-end;
}

.note-controls-item-upper {
    flex: 0 0 100%;
    margin-bottom: 1rem;
}

.note-controls-item-lower {
    flex: 0 0 15%;

}

input[type="radio"] {
    opacity: 0;
    width: auto;
}

input[type="cancel"] {
    width: auto;
}

.note-content-importance .note-content-input-group {
    position: relative;
    display: inline-block;
    opacity: 0.3;
}

.note-content-importance label {
}

.note-content-importance .note-content-input-group.highlited {
    opacity: 1;
}

input[type="radio"] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
}