.overview {
    padding: 2rem;
}

.options-container-order-column {
    flex: 0 0 75%;
}
.options-container-filter-column {
    flex: 0 0 20%;
}
.options-container-order-item {
    flex: 0 0 33%;
}

.list-container-column {
    width: 100%;
}

.list-container-item-left-column {
    flex: 0 0 20%;
}
.list-container-item-middle-column {
    flex: 0 0 60%;
}
.list-container-item-right-column {
    flex: 0 0 10%;
    align-self: flex-end;
}

.list-container-item {
    padding: 1rem 0;
}

.list-container-item-header {
    margin-bottom: 1rem;
}

.list-container-item-content-toggle {
    position: relative;
}

.list-container-item-content-toggle::before,
.list-container-item-content-toggle::after {
    content: "";
    display: block;
    position: absolute; 
    width: 0;
    height: 0;
    border-style: solid;
}
.list-container-item-content-toggle::after {
    top: 7px;
    right: 11px;
    border-width: 24px 18px 0 18px;
    border-color: #ffffff transparent transparent transparent;
}

.list-container-item-content-toggle::before {
    top: 5px;
    right: 7px;
    border-width: 30px 22px 0 22px;
    border-color: black transparent transparent transparent;
}
