.overview {
    padding: 2rem;
}

.options-container-order-column {
    flex: 0 0 80%;
}
.options-container-filter-column {
    flex: 0 0 20%;
}
.options-container-order-item {
    flex: 0 0 33%;
}

.list-container-column {
    width: 100%;
}

.list-container-item-left-column {
    flex: 0 0 20%;
}
.list-container-item-middle-column {
    flex: 0 0 70%;
}
.list-container-item-right-column {
    flex: 0 0 10%;
    align-self: flex-end;
}

.list-container-item {
    padding: 1rem 0;
}

.list-container-item-header {
    margin-bottom: 1rem;
}

.list-container-item-importance {
    align-self: flex-end;
}