.grid-row {
    justify-content: space-between;
}

.options-container-order-column {
    flex: 0 0 75%;
}
.options-container-filter-column {
    flex: 0 0 20%;
}
.options-container-order-item {
    flex: 0 0 33%;
}

.list-container-column {
    width: 100%;
}

.list-container-item-left-column {
    flex: 0 0 20%;
}
.list-container-item-middle-column {
    flex: 0 0 60%;
}
.list-container-item-right-column {
    flex: 0 0 10%;
    align-self: flex-end;
}


.list-container-items {
    position: relative;
}

.list-container-items::after {
    content: '';
    position: absolute;
    top: 0;
    /* transition: transform 3s linear;
    transform: translateY(0); */
}

.list-container-item {
    padding: 1rem;
    margin: 1rem 0;
}

.list-container-item-header {
    margin-bottom: 1rem;
}

.list-container-item-content {
    max-height: 50px;
    padding: 10px;
    overflow: hidden;
    transition: all 1s ease;
}


.list-container-item-content.expand {
    max-height: 200px;
}

.list-container-item-content.expand .list-container-item-content-toggle::before,
.list-container-item-content.expand .list-container-item-content-toggle::after {
    transform: rotateZ(180deg);
}

.list-container-item-content-toggle {
    display: block;
    position: relative;
}

.list-container-item-content-toggle.hide {
    display: none;
}

.list-container-item-content-toggle::before,
.list-container-item-content-toggle::after {
    content: "";
    display: block;
    position: absolute; 
    width: 0;
    height: 0;
    border-style: solid;
    transition: all 1s ease-in-out;

}
.list-container-item-content-toggle::after {
    top: 7px;
    right: 11px;
    border-width: 24px 18px 0 18px;
    border-color: #ffffff transparent transparent transparent;
}
.list-container-item-content.expand .list-container-item-content-toggle::after {
    top: 9px;
}


.list-container-item-content-toggle::before {
    top: 5px;
    right: 7px;
    border-width: 30px 22px 0 22px;
    border-color: black transparent transparent transparent;
}

body.newstyle {
    background: black;
}

body.newstyle .options-container button {
    animation: glow 5s cubic-bezier(.36,.68,.92,.54) infinite;
}

body.newstyle .list-container-item {
    background: white;
}

body.newstyle .list-container-items {
    position: relative;
}

body.newstyle .list-container-items::after {
    height: 100vH;
    width: 100%;
    transform: translateY(100vH);
    background: black;
    z-index: 10;
    animation: reveal 3s;
}
